@import 'assets/styles/_vars';

.projects {
  display: flex;
  flex-wrap: wrap;
  &__item {
    display: flex;
    flex-direction: column;

    position: relative;

    width: 300px;
    height: 300px;

    margin: 0 20px 20px 0;
    padding: 10px;

    border-top-width: 2px;
    border-top-style: solid;
    box-sizing: border-box;
    border-radius: 4px;

    box-shadow: 0px 0px 10px 2px $light-gray;

    @include transition-animation;
    &:hover {
      box-shadow: 0px 0px 40px -4px $gray;
    }
    &--noborder {
      border: none;
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;
    padding-bottom: 10px;

    color: $gray;

    border-bottom: 1px solid $light-gray;
  }
  &__title {
    font-size: 1.6rem;
    color: $text-color;
  }
  &__description {
    flex: 1 1 100%;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: $gray;
    font-size: 0.85rem;
  }
  &__members {
    margin-left: 6px;
  }
  &__creation-time {
    margin-left: 6px;
  }
  &__add {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 1 100%;

    color: $gray;

    cursor: pointer;
  }
  &__add-icon {
    font-size: 3rem;
  }
  &__add-title {
    font-size: 1.8rem;

    margin-top: 10px;
  }
}

.additing-form {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  &__input {
    margin-bottom: 10px;
  }
  &__textarea {
    flex-grow: 1;

    margin-bottom: 10px;

    resize: none;
  }
  .button {
    flex: 1 1 50%;
    &:last-child {
      margin-left: 10px;
    }
  }
}
