@import 'assets/styles/_vars';

.login {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    @include gradient(180deg, $blue, $light-blue);
  }
  &__title {
    font-family: $gloria-font;

    color: $white;
    font-size: 40px;

    padding-bottom: 10px;
  }
  &__form {
    width: 450px;
    height: 380px;

    margin-top: 50px;
    padding: 50px 20px 30px 20px;

    position: relative;

    background-image: url(../../assets/images/paper-bg.png);
    background-size: cover;

    &-item {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }
    &-input {
      padding: 15px;

      font-size: 20px;

      border-radius: 4px;
      background-color: $white-opacity;
      &::placeholder {
        font-size: 16px;
        color: $black;
      }
    }
    &-error {
      padding-left: 10px;

      color: $error;
      font-size: 14px;

      @include transition-animation;
    }
  }
}

.pinned {
  width: 70px;
  height: 70px;

  position: absolute;
  top: -45px;
  left: 50%;

  font-size: 0;
  margin-left: -35px;

  background-image: url(../../assets/images/push-pin.svg);
}

