@import 'assets/styles/_vars';

.login {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
    height: 100vh;

    @include gradient(180deg, $blue, $light-blue);
  }
  &__bg {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    width: 680px;
    height: 580px;

    background-image: url(../../assets/images/wood.png);
    background-position: top center;
    background-size: cover;
  }
  &__form {
    width: 420px;

    padding-left: 20px;
    margin-bottom: 75px;

    text-align: center;
    &-item {
      display: flex;
      flex-direction: column;

      margin-bottom: 20px;
    }
    &-input {
      padding: 15px;

      font-size: 25px;
      line-height: 25px;
      color: $brown;

      border: 2px solid $light-brown;
      border-radius: 4px;
      box-shadow: inset 1px 0px 25px 0px $light-brown;

      @include transition-animation;
      &::placeholder {
        font-size: 20px;
        color: $light-brown;
        opacity: 0.5;
      }
      &:focus {
        box-shadow: none;
      }
    }
    &-error {
      padding-left: 10px;

      color: $error;
      font-size: 14px;

      @include transition-animation;
    }
  }
  &__title {
    font-family: $gloria-font;

    color: $white;
    font-size: 60px;

    margin-top: 100px;
  }
  &__button {
    width: 100%;

    padding: 15px 20px;

    font-family: $gloria-font;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 25px;

    border: none;
    border-bottom: 3px solid $white;
    border-radius: 4px;

    cursor: pointer;
    
    color: $white;
    background-color: $brown;

    @include transition-animation;
    &:hover {
      @include gradient(180deg, $brown, $light-brown);
    }
  }
}

