::placeholder {
	color: #ccc;
}

::selection {
	background-color: $light-blue;
	color: #fff;
}

html, body {
	height: 100%;
}

body {
	position: relative;

	min-width: 320px;

	font-family: $default-font;
	font-size: 16px;
	line-height: 1.65;
	color: $text-color;
	
	overflow-x: hidden;
}

input, textarea {
	border: 1px solid #ccc;
	padding: 10px;
	outline: none;
	&:-webkit-autofill {
		border: 1px solid $light-brown;
		-webkit-text-fill-color: $brown;
		transition: background-color 5000s ease-in-out 0s;
	}
}

ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

a {
	text-decoration: none;
	color: $text-color;
	&:hover {
		text-decoration: none;
	}
}

button {
	border: none;
	background-color: transparent;

	cursor: pointer;

	@include transition-animation;
	&:focus {
		outline: none;
	}
}

.text-center {
	text-align: center;
}
