::placeholder {
	color: #ccc;
}

::selection {
	background-color: $light-blue;
	color: #fff;
}

html, body {
	height: 100%;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
}

input, textarea {
	border: 1px solid #ccc;
	padding: 10px;
	outline: none;
	&:focus:required:invalid {
		border-color: red;
	}
	&:required:valid {
		border-color: green;
	}
	&:-webkit-autofill {
		border: 1px solid $light-brown;
		-webkit-text-fill-color: $brown;
		transition: background-color 5000s ease-in-out 0s;
	}
}

a {
	text-decoration: none;
	color: $text-color;
	&:hover {
		text-decoration: none;
	}
}

button {
	&:focus {
		outline: none;
	}
}

.text-center {
	text-align: center;
}
