::placeholder {
	color: #ccc;
}

::selection {
	background-color: $light-blue;
	color: #fff;
}

html, body {
	height: 100%;

	font-family: $default-font;
	font-size: 16px;
	color: $text-color;
}

body {
	position: relative;

	min-width: 320px;

	overflow-x: hidden;
}

input, textarea {
	border: 1px solid #ccc;
	padding: 10px;
	outline: none;
	line-height: 1.25;
	&:-webkit-autofill {
		border: 1px solid $light-brown;
		-webkit-text-fill-color: $brown;
		transition: background-color 5000s ease-in-out 0s;
	}
}

ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

a {
	text-decoration: none;
	color: $text-color;
	&:hover {
		text-decoration: none;
	}
}

button {
	border: none;
	background-color: transparent;

	cursor: pointer;

	@include transition-animation;
	&:focus {
		outline: none;
	}
}

.text-center {
	text-align: center;
}

.dotted-spinner {
	&__item{
		display: inline-block;

		width: 6px;
		height: 6px;

		margin-left: 6px;

		border-radius: 50%;
		background-color: $white;
		
		animation: fade 1s  infinite;
		&--first {
			animation-delay:1s;
		}
		&--second {
			animation-delay:0.21s;
		}
		&--third {
			animation-delay:0.4s;
		}
	}
}

.wrapper {
	padding: 10px;
}

