@import 'assets/styles/_vars';

.button {
  padding: 10px 15px;

  font-size: 1rem;
  text-transform: uppercase;

  border-radius: 4px;
  box-sizing: border-box;

	cursor: pointer;
	@include transition-animation;
	&:focus {
		outline: none;
  }
  &:not(.button--transparent) {
    &:hover {
      box-shadow: 0 0 11px -2px $black;
    }
  }
  &--transparent {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  &--secondary {
    border: 1px solid $blue;
    background-color: #fff;
    color: $blue;
  }
  &--primary {
    color: $white;
    
    border: 1px solid $blue;
    background-color: $blue;
  }
}