$default-font: "Roboto", sans-serif;
$gloria-font: "GloriaHallelujah";

$white: #fff;
$black: #000;
$blue: #3a7bd5;
$light-blue: #00d2ff;
$orange: #fc4a1a;
$yellow: #f7b733;
$error: #f18b8b;
$text-color: #000;


// =============================================================================
// Mixins
// =============================================================================


@mixin transition-animation {
  transition: all 0.5s;
}

@mixin gradient($deg, $from, $to) {
  background-image: linear-gradient($deg, $from, $to);
}