$default-font: "Roboto", sans-serif;

$white: #fff;
$black: #000;
$orange: #fc4a1a;
$yellow: #f7b733;
$accent: orange;
$error: #f18b8b;
$text-color: #000;


// =============================================================================
// Mixins
// =============================================================================

@mixin transition-animation {
  transition: all 0.5s;
}

@mixin gradient($deg, $from, $to) {
  background-image: linear-gradient($deg, $from, $to);
}